.banner{
    height: 70vh;
    background-image: url(https://i.pinimg.com/originals/ba/38/72/ba3872483529bf052d78580ce28f1334.jpg);
    background-size: cover;
}

.header-text{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    left: 20rem;
    top: 10rem;
    color: white;
}